.navBox{
    height: 10vh;
}
*{
    overflow-x: hidden;
}
.title-nav{
    font-family: 'Playfair Display', serif;
    font-size: 50px !important;
    padding-left: 13vw;
}

.nav-link-bar{
    font-size: larger;
    display: flex;
    justify-content: flex-end;
    width: 65vw;
}

.signin-button{
    margin: 20px;
    background: black;
    background-color: black !important;
    border-radius: 30px!important;
    border: 1px solid white!important;
}

.nav-link{
    margin: 0 10px;
}

/* ----------------------------------navbar-------------------- */

.banner1{
    background-image: url('../src//img/banner2.png');
    height: 85vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
}


/*--------------------------------------home end ----------------*/


.footer{
    background-color: #2c4152 !important;
    color: white !important;

}

/*-------------------------footer end-----------------------*/

.admin-login{
    height: 100vh;
    display: flex;
    align-content: center;
    align-items: center;
}

.admin-card{
    display: flex;
    padding-top: 10vh;
    justify-content: space-around;
}

.product-form{
    width: 70vw;
}
.admin-create-product{
    margin-top: 10vh;
    margin-left: 5vw;
    margin-right: 5vw;
}











/* ----------------------------tag--------------------- */
#tags {
    border: 1px solid #b6b6b6;
    width: 100%;
    border-radius: 5px;
  }
  
  #tags .ReactTags__tags {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 4.5px 12px 3.68px 1px;
  }
  
  #tags .ReactTags__selected {
    display: flex;
  }
  
  #tags .ReactTags__clearAll {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    background: #f88d8d;
    color: #fff;
    border: none;
  }
  
  #tags .ReactTags__tagInput {
    border-radius: 2px;
    display: inline-block;
  }
  
  #tags .ReactTags__tagInput input.ReactTags__tagInputField, #tags .ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 31px;
    margin: 0;
    font-size: medium;
    min-width: 150px;
    padding: 0px 10px;
  }
  
  #tags .ReactTags__editInput {
    border-radius: 1px;
  }
  
  #tags .ReactTags__editTagInput {
    display: inline-flex;
  }
  
  #tags .ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #899197;
    color: white;
    font-size: medium;
    border-radius: 5px!important;
    display: flex;
    padding: 5px;
    margin: 0 5px;
    border-radius: 2px;
  }
  
  #tags .ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
  }
  
  #tags .ReactTags__suggestions {
    position: absolute;
  }
  
  #tags .ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
    background: white;
    width: 200px;
  }
  
  #tags .ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
  }
  
  #tags .ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
  }
  
  #tags .ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;
  }
  
  #tags .ReactTags__remove {
    border: none;
    cursor: pointer;
    background: none;
    color: white;
    margin-left: 5px;
  }
  
  #tags input {
    background-color: #f9f9f9;
    border: none;
    outline: none;
  }
  
  #tags input:before {
    border: none;
  }